In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Baie,MU,2021-03-25 01:02:15,-20.0182,57.5802,77.00,87,18,1.01
1,1,Kichmengskiy Gorodok,RU,2021-03-25 01:02:15,59.9816,45.7854,34.48,92,96,11.27
2,2,Saldanha,ZA,2021-03-25 01:02:15,-33.0117,17.9442,69.80,68,0,2.30
3,3,Shubarkuduk,KZ,2021-03-25 01:02:16,49.1447,56.4872,31.77,90,100,22.46
4,4,Rikitea,PF,2021-03-25 01:02:16,-23.1203,-134.9692,79.45,73,10,14.43

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Baie,MU,2021-03-25 01:02:15,-20.0182,57.5802,77.00,87,18,1.01
4,4,Rikitea,PF,2021-03-25 01:02:16,-23.1203,-134.9692,79.45,73,10,14.43
6,6,Marsh Harbour,BS,2021-03-25 01:02:17,26.5412,-77.0636,75.99,74,2,3.76
9,9,Vaini,TO,2021-03-25 01:02:18,-21.2000,-175.2000,78.62,81,100,25.10
10,10,Ambon,ID,2021-03-25 01:02:19,-3.6954,128.1814,84.20,74,40,4.61
11,11,Carmen,MX,2021-03-25 01:02:19,18.6333,-91.8333,82.40,83,40,4.61
13,13,Karratha,AU,2021-03-25 01:02:20,-20.7377,116.8463,86.22,50,5,5.01
17,17,Sinjai,ID,2021-03-25 01:02:22,-5.1241,120.2530,83.30,73,36,3.58
18,18,Tuka,PH,2021-03-25 01:02:22,6.5200,124.5850,82.87,71,54,3.71
20,20,Puerto Ayora,EC,2021-03-25 01:02:23,-0.7393,-90.3518,77.00,93,22,1.01

In [16]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0      Grand Baie      MU     77.00 -20.0182   57.5802
4         Rikitea      PF     79.45 -23.1203 -134.9692
6   Marsh Harbour      BS     75.99  26.5412  -77.0636
9           Vaini      TO     78.62 -21.2000 -175.2000
10          Ambon      ID     84.20  -3.6954  128.1814
11         Carmen      MX     82.40  18.6333  -91.8333
13       Karratha      AU     86.22 -20.7377  116.8463
17         Sinjai      ID     83.30  -5.1241  120.2530
18           Tuka      PH     82.87   6.5200  124.5850
20   Puerto Ayora      EC     77.00  -0.7393  -90.3518

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Grand Baie,MU,77.00,-20.0182,57.5802,Trou aux Biches Beachcomber Golf Resort & Spa
4,Rikitea,PF,79.45,-23.1203,-134.9692,Pension Maro'i
6,Marsh Harbour,BS,75.99,26.5412,-77.0636,Abaco Beach Resort
9,Vaini,TO,78.62,-21.2000,-175.2000,Keleti Beach Resort
10,Ambon,ID,84.20,-3.6954,128.1814,Swiss-Belhotel Ambon
11,Carmen,MX,82.40,18.6333,-91.8333,Hotel Lossandes
13,Karratha,AU,86.22,-20.7377,116.8463,ibis Styles Karratha
17,Sinjai,ID,83.30,-5.1241,120.2530,Wisma Sandika
18,Tuka,PH,82.87,6.5200,124.5850,Fabale House
20,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))